body {
  background-color: #451a03;
  color: #fff;
  font-family: "Roboto", sans-serif;
  /* Cheesecake orange */
  --primary-hsl: 26, 100%, 66%;
  --primary: hsl(var(--primary-hsl));
}

.top-area {
  height: max(10svh, 4em);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left middle right";
  justify-content: center;
}

.widget {
  background-color: #1a0803;
  border-radius: 0 0 1rem 1rem;
  min-height: 1em;
  padding-inline: 1rem;
  font-size: 1.2rem;
  opacity: 0.8;
  margin-inline: 1svw;
}

.cheesecake-count {
  grid-area: middle;
  height: min(100%, 3rem);
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-area {
  height: 70svh;
  display: flex;
  justify-content: center;
}

.middle-area > * {
  height: 70svh;
}

.big-cheesecake {
  height: 100%;
  aspect-ratio: 1/1;
  transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.big-cheesecake img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.big-cheesecake:focus-visible {
  transform: scale(0.92) rotate(1.5deg);
}

.big-cheesecake img {
  transition: box-shadow 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.big-cheesecake:focus-visible img {
  box-shadow: inset 0 0 10rem 0.1rem var(--primary);
  /* border-radius: 2rem; */
}

.big-cheesecake:hover {
  transform: scale(0.9) rotate(2deg);
}

.big-cheesecake:active,
.big-cheesecake.active {
  transform: scale(0.8);
}

@keyframes grow {
  to {
    scale: 1;
    /* opacity: 1; */
  }
}

.cheesecake-particle {
  scale: 0;
  animation: grow 0.2s ease-out forwards;
  position: absolute;
  width: 3rem;
  pointer-events: none;
  translate: -50% -50%; /* So they appear directly under cursor */
  aspect-ratio: 1/1;
  background-image: url(/assets/cheesecake-temp-design.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease-out;
  opacity: 0.7;
}

.cheesecake-particle.fade-out {
  opacity: 0;
}
