body {
  background-color: #451a03;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.top-area {
  height: 10svh;
  display: flex;
  justify-content: center;
}

.cheesecake-count {
  background-color: #1a0803;
  border-radius: 0 0 1rem 1rem;
  height: min(100%, 3rem);
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.middle-area {
  height: 70svh;
  display: flex;
  justify-content: center;
}

.middle-area > * {
  height: 70svh;
}

.big-cheesecake {
  height: 100%;
  aspect-ratio: 1/1;
  transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.big-cheesecake img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.big-cheesecake:focus-visible {
  transform: scale(0.92) rotate(1.5deg);
}

.big-cheesecake img {
  transition: box-shadow 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.big-cheesecake:focus-visible img {
  box-shadow: inset 0 0 10rem 0.1rem #f9a825;
  /* border-radius: 2rem; */
}

.big-cheesecake:hover {
  transform: scale(0.9) rotate(2deg);
}

.big-cheesecake:active,
.big-cheesecake.active {
  transform: scale(0.8);
}

.cheesecake-particle {
  position: absolute;
  width: 2rem;
  pointer-events: none;
  translate: -50% -50%; /* So they appear directly under cursor */
  aspect-ratio: 1/1;
  background-image: url(/assets/cheesecake-temp-design.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease-out;
}

.cheesecake-particle.fade-out {
  opacity: 0;
}
